# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.env

# Virtual environment
.venv/

# Logs & Debugging files
logs/
*.log

# VS Code settings
.vscode/

# Terraform files
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl

# Ignore secrets (Always store in GitHub Secrets)
secrets.json
*.pem

# Ignore deployment artifacts
*.zip
*.tar.gz

# Ignore GitHub Actions cache
.github/workflows/*.log
